.root{
    -fx-background-image: url("BackGround.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-padding: 0 0 0 0;

}

ButtonMute{


}
Button {
-fx-text-fill-: black;
-fx-font-weight: bold;

    -fx-font-size: 45;
    -fx-font-family: "Cooper Black" ;

-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}



